USE [ooad]
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 5/1/2026 9:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NULL,
	[meeting_date] [datetime] NULL,
	[start_hour] [int] NULL,
	[end_hour] [int] NULL,
	[type_appointment] [nvarchar](20) NULL,
	[start_minute] [int] NOT NULL,
	[end_minute] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reminder]    Script Date: 5/1/2026 9:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reminder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[take]    Script Date: 5/1/2026 9:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[take](
	[user_id] [int] NOT NULL,
	[appointment_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[take_rmd]    Script Date: 5/1/2026 9:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[take_rmd](
	[appointment_id] [int] NOT NULL,
	[reminder_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC,
	[reminder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/1/2026 9:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone_number] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointment] ADD  DEFAULT ((0)) FOR [start_minute]
GO
ALTER TABLE [dbo].[appointment] ADD  DEFAULT ((0)) FOR [end_minute]
GO
ALTER TABLE [dbo].[take]  WITH CHECK ADD  CONSTRAINT [fk_take_appointment_id] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointment] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[take] CHECK CONSTRAINT [fk_take_appointment_id]
GO
ALTER TABLE [dbo].[take]  WITH CHECK ADD  CONSTRAINT [fk_take_users_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[take] CHECK CONSTRAINT [fk_take_users_id]
GO
ALTER TABLE [dbo].[take_rmd]  WITH CHECK ADD  CONSTRAINT [fk_takermd_appointment_id] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[appointment] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[take_rmd] CHECK CONSTRAINT [fk_takermd_appointment_id]
GO
ALTER TABLE [dbo].[take_rmd]  WITH CHECK ADD  CONSTRAINT [fk_takermd_reminder_id] FOREIGN KEY([reminder_id])
REFERENCES [dbo].[reminder] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[take_rmd] CHECK CONSTRAINT [fk_takermd_reminder_id]
GO
